---
layout: default
---

<div class="post-list">

{% for post in site.posts %}

<hr>

<section class="post {% cycle 'right', 'left' %}">
  <a href="{{ post.project_url }}">
    <div class="post-image">
      <img src="assets/{{ post.image }}">
    </div>
  </a>

  <div class="post-info">
    <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
    <h2>
      <a class="post-link" href="{{ post.project_url }}">{{ post.project_title }}</a>
    </h2>
    <p>{{ post.short_description }}</p>
    {% if post.post_title %}
    <p><b>Related:</b> <a href="{{site.baseurl}}{{ post.url }}">{{ post.post_title }}</a></p>
    {% endif %}
  </div>
  </a>

</section>



{% endfor %}

</div>
