.wrapper {
    @include outer-container;
    padding: $spacing-unit/2 10px;

    @include media($on-laptop) {
        padding: $spacing-unit 20px;
    }
}


/**
 * Site header
 */

.site-header {
    @include media($on-laptop) {
        margin-bottom: $spacing-unit;
        height: 50px;
    }
}

.site-title img {
    width: 300px;
    float: left;
}

.site-description {
    clear: both;
    @include clearfix;

    @include media($on-laptop) {
        clear: none;
        margin: 18px 0 0 50px;
        max-width: 450px;
        float: left;
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-meta {
    font-family: $sans-serif;
    text-transform: uppercase;
    font-size: $small-font-size;
    color: $grey-color;
}
