.post-list {
		margin-top: 32px;
		margin-bottom: 32px;
	@include media($on-laptop) {
		padding-right: 5%;
		border-right: solid $grey-color-light 0.5px;
	}
	.post {
		margin: $spacing-unit auto;

		@include media($on-laptop) {
			position: relative;
			width: auto;
			margin: $spacing-unit auto;
			padding: 0;
			float: none;
			clear: both;

		}

		h2 {
			margin-bottom: 4px;
			font-size: 2em;
			font-color: $brand-color;
			font-family: $sans-serif;
			font-weight: bold;
		}
		.post-image {
			height: 260px;
			overflow: hidden;
		}
		.post-author {
			font-size: 1em;
			margin-bottom: 4px;
			color: $grey-color-dark;
		}
		.post-desc {
			color: $grey-color-dark;
			margin-top: 8px;
		}
		.post-date {
			color: $brand-color;
		}
	}
	.post:first-child {
		margin-top: 0px;
	}
}

.blog-list {
	margin-top: 32px;
	.blog {
		margin: $spacing-unit auto;
		color: gray;

		@include media($on-laptop) {
			position: relative;
			width: auto;
			margin: $spacing-unit auto;
			padding: 0;
			float: none;
			clear: both;
			min-height: 180px;
		}

		.blog-image {
			width: auto;
			height: 100%;
			@include media($on-laptop) {
				margin-bottom: 24px;
			}
		}

		h2 {
			margin-bottom: 4px;
			font-size: 1.5em;
			font-color: $brand-color;
			font-family: $sans-serif;
			font-weight: bold;
		}
		.blog-desc {
			color: $grey-color-dark;
		}
		.blog-date {
			color: $brand-color;
		}
	}
	.blog:first-child {
		margin-top: 0;
	}
}
