.post-list {
	clear: both;

	.post {
		margin: $spacing-unit auto;

		@include media($on-laptop) {
			position: relative;
			width: auto;
			margin: $spacing-unit auto;
			padding: 0;
			float: none;
			clear: both;
			height: 400px;
		}

		.post-image {
			@include span-columns(12);
			
			@include media($on-laptop) {
				@include span-columns(8);
			}

			height: 100%;
			overflow: hidden;
		}

		&.right {
			.post-image {
				@include media($on-laptop) {
					@include shift(4);
				}
			}
		}

		.post-info {
			@include span-columns(12);
			margin: 10px 0 40px 0;

			@include media($on-laptop) {
				@include span-columns(4);
				margin: 0;
				position: absolute;
				top: 50%;
				text-align: center;
				transform-style: preserve-3d;
				transform: translateY(-50%);
				float: left;
				clear: none;
			}

			h2 {
				margin-bottom: 2px;
				font-weight: bold;
				font-family: $serif;
			}

			p {
				margin-bottom: 2px;
			}

		}

		&.left {
			.post-info {
				@include media($on-laptop) {
					@include shift(8);
				}
				
			}
		}
	}
}